body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.hover:hover {
  opacity: 0.7 !important;
  cursor: pointer;
}

.input {
  font-size: 1.2rem;
  outline: none;
  background: transparent;
  border: none;
  height: 3rem;
}

.sr-only {
  display: none;
}

.leaflet-interactive {
  z-index: 999 !important;
}

.areaName {
  margin-top: -0.4rem;
  font-size: 1.2rem;
  width: 200px;
  color: red;
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
}

.op9:hover {
  opacity: 0.9 !important;
}

.placeholder-gray::placeholder {
  color: gray;
}

.btn {
  border: none;
  padding: 1rem;
}


/* Close Button */
.primaryBtn {
  margin: 20px 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 13px 25px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #185adb;
  transition: all 0.25s ease;
}

.primaryBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}

/* Test Overlay attributes */
.overlay {
  position: fixed;
  display: block;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 251, 251, 0.659);
  cursor: pointer;
}