.schedule-cells {
    --c: #425F57;
    line-height: 1.2em;
    background:
      conic-gradient(from -135deg at 100%  50%, var(--c) 90deg, #0000 0) 
        0  var(--p, 0%) / var(--s, 0%) 200% no-repeat,
      conic-gradient(from -135deg at 1.2em 50%, #0000 90deg, var(--c) 0) 
        100% var(--p, 0%) / var(--s, 0%) 200% no-repeat;
    transition: .4s, background-position 0s;
}

.schedule-cells:hover {
    --p: 100%;
    --s: calc(50% + .6em);
    color: #fff
}

