.background {
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: black;
  border-radius: 5px;
  width: 40vw;
}

.closeButton {
  display: flex;
  justify-content: right;
}


.header {
  font-weight: bold;
  font-size: 35px;
  color: #425f58;
}

.input {
  background-color: #a8e890;
  margin-bottom: 10px;
  border-radius: 5px;
  background-image: url("../../../public/SearchOutline.svg");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 20px 40px;
  padding-left: 40x;
  padding-right: 100px;
  width: 100%;
  border-radius: 5px;
}

.table {
  background-color: #a8e890;
  border-radius: 5px;
}

th,td,tr {
  text-align: center;
  border: black solid 5px;
}


.button {
  background-color: #425f58;
  color: #a8e890;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

/* .btn {
  position: fixed;
  right: 800px;
  top: 7px;
} */



/* #table-wrapper {
  position:relative;
}
#table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}
#table-wrapper table * {
  background:yellow;
  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
} */
