/*
Color Palette
white   :                   - Dominant
#A8E890 : LightGreen        - Complementary
#026333 : DarkGreen         - Accent
*/

.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.modal {
    width: 800px;
    min-height: 550px;
    background: white;
    color: #91E4AA;
    z-index: 99;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    padding-bottom: 1rem;
}

.modalHeader {
    height: 70px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.heading {
    margin: 0;
    padding: 35px;
    color: #026333;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    color: #026333;
    text-align: center;
}

.modalActions {
    position: relative;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #026333;
    background: #A8E890;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
}

.closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
}

.checkBtn {
    margin-top: 0;
    cursor: pointer;
    padding: 11px 360px;
    border-radius: 12px;
    border: none;
    color: #91E4AA;
    background: #026333;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    transition: all 0.25s ease;
}

.checkBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #A8E890;
    color: #026333;
    font-weight: 500;
    font-size: 1.2rem;
}

.cancelBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 170px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #026333;
    font-weight: 550;
    font-size: 1rem;
    background: #A8E890;
    transition: all 0.25s ease;
}

.cancelBtn:hover {
    box-shadow: none;
    transform: none;
    background: #69f137;
}

.primaryBtn {
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: #026333;
    background: #A8E890;
    transition: all 0.25s ease;
}

.primaryBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}

.mapContainer {
    margin-top: 5px;
    /* max-width: 800px; */
    height: 100%;
    /* overflow: hidden; */
    border: 4px solid #A8E890;
    border-radius: 5px;
}

/* .mapSize {
    width: 100%;
    height: 100%;
    position: relative;
} */

.formText {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 800px;
}

.b4Form {
    padding-top: 5px;
    margin-right: 6px;
    overflow: visible;
    position: relative;
    color: #026333;
    font-weight: 550;
    font-size: 1rem;
}

.dropBoxLarge {
    max-width: 400px;
    margin-left: 50px;
    overflow: hidden;
    background-color: #A8E890;
    border-radius: 12px;
    color: #026333;
    font-weight: 550;
    font-size: 1rem;
}

/* Dropbox */

.boxWrapper {
    max-width: 800px;
    width: max-content;
    overflow: hidden;
    margin-top: 0;
    border: 3px solid #91E4AA;
    border-radius: 12px;
}

.dropBox {
    max-width: max-content;
    overflow: hidden;
    margin-top: 0;
    border: #A8E890;
    border-radius: 12px;
    background-color: #A8E890;
    color: #026333;
    font-weight: 500;
    font-size: 0.8rem;
}

/* Unused styles */

.deleteBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 170px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #026333;
    background: #A8E890;
    transition: all 0.25s ease;
}

.deleteBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #A8E890;
}