.schedule-cells {
  background: linear-gradient(#425F57 0 0) calc(100% - var(--p,0%)) / var(--p,0%) no-repeat;
  transition: .4s, background-position 0s;
}

.schedule-cells:hover {
  --p: 100%;
  color: #fff 
}

.MuiTableCell-root + .MuiTableCell-head {
  width: 300px;
}